html, body {
  overflow-x: hidden;
  margin:0;
  padding:0;
  box-sizing: border-box
}
div{
  padding:0;
  margin:0;
  box-sizing: border-box
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#editor-div{
  text-align:left;
}
.card {
  padding: 2em;
}


pre {
  text-align: left;
}


.overlay-container{
  overflow-y: auto;
}

.overlay{
  position: fixed;
  background: white;
  opacity: 0.95;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100dvh;
  width: 50vw;
  z-index:-1;
}

canvas{
  padding:0;
  margin:0;
  width: 500px;
  /*position: absolute;*/
  left: 0;
  top: 0;
  z-index: -2;

  background-color: #f0f0f0;
}

.home-page-dots>canvas{
  width: 100vw;
  position: absolute;
  background-color: #f0f0f0;
}
.throbber-dots>canvas{
  width: 10vw;
}


.home-tabs{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: calc(0.5vw);
}


.home-tab{
  background-color: rgb(217 217 217 / 70%);
  border-radius: 20px 20px 0 0;
  width: calc(50vw);
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-tab:hover{
  background-color: rgb(200 200 200 / 70%);
}

.home-tab-selected{
 background-color: transparent;
}
.home-tab-selected:hover{
  background-color: transparent;
}

.home-tab-image{
  max-width: 30%;
}


.home-tab-text{
  font-size: large;
  font-weight: bold;
  color: black;
  font-family: 'Inter', sans-serif;
}