#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#editor-div{
  text-align:left;
}
.card {
  padding: 2em;
}


pre {
  text-align: left;
}

#canvas{
  border:1px solid #000000;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
}